<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1><%= data.name %></h1>
  <h1><%= data.age %></h1>
  <ul>
    <% data.list.forEach(function(item) { %>
      <li><%= item%></li>
    <% })%>
  </ul>
<h1>node 上传文件</h1>
<form action="/upload" method="POST" enctype="multipart/form-data">
  文件 <input type="file" name="file">
  <input type="submit" name="sbumit">
</form>
</body>
</html>